.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}

.collectionAddress {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #def1ff;
  border-radius: 5px;
  color: black;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chatWithSeller {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
