.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}

.rightside {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}

.underlinetext {
  text-decoration: underline;
  cursor: pointer;
}

.spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconprofile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.centered-button {
  text-align: center;
}

.noRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 20px; /* Add gap for better spacing */
}

.newProfileText {
  font-weight: 900;
  font-size: 18px;
}

.setupButton {
  font-weight: 700;
  font-size: 18px; /* Slightly increased font size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
}

.setupButton:hover {
  background-color: #0056b3;
}

.retriveDataLoadingContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}
