.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .sideBySideContainer {
    display: flex;
    gap: 20px;
    width: 90%;
    
  }

  
  .div1,
  .div4 {
    width: 90%;
    height: auto;
    border: 1px solid #000; /* Add a border outline */
    border-radius: 5px; /* Add curved corners */
  }
  
  .div2,
  .div3 {
    flex: 1;
    height: 100px;
    border: 1px solid #000; /* Add a border outline */
    border-radius: 5px; /* Add curved corners */
    
  }
  
  /* Adjust the colors and heights as needed */