.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  align-self: center;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 20%;
}
