.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.container:hover {
  background-color: #f7f7f7;
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
