.container {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
  gap: 50px;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  counter-reset: grid;
  gap: 5em;
}

.listProductCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchContainer {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
}

.seeAllCategoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
}

.searchBar {
  flex: 15;
}

.searchButton {
  flex: 1;
}
