.container {
  padding-left: 7%;
  padding-right: 7%;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  counter-reset: grid;
  gap: 5em;
}

.listProductCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
