.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  gap: 20px;
}

.imageContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 20px;
  max-width: 55rem;
}

.secondaryImageContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mainImageContainer {
  width: 100%;
  height: 500px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageWrapper {
  display: flex;
}

.mainImage {
  max-width: none;
  max-height: none;
}

.secondaryImageWrapper {
  display: flex;
  width: 100%;
  border-radius: 5px;
  height: 200px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.secondaryImage {
  max-width: none;
  max-height: none;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.productItemAtribute {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.productDetailContainer {
  display: flex;
  max-height: 500px;
  justify-content: space-between;
  flex: 2;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 20px;
  max-width: 55rem;
}

.sizeContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.productDetailTopContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}


.storeContainer {
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.visitShopContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chatButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  background-color: aliceblue;
}

.productDescriptionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  gap: 20px;
  padding: 20px;
}

.reviewContainer {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  gap: 20px;
}

.wishlist {
  cursor: pointer;
}

.actionButton {
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 280px; 
}

