.container {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
  gap: 50px;
}

@media screen and (min-width: 1440px) {
  .listProduct {
    grid-gap: 100px;
    counter-reset: grid;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .listProduct {
    grid-gap: 80px;
    counter-reset: grid;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}


.listProductContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}


.listProduct > * {
  background-color: #fff; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.listProduct > *:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.listProductCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.searchContainer {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px; 
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-top: -50px; 

}

.seeAllCategoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  color: #0078D4; 
  font-weight: bold;
  text-decoration: none;
}

.searchBar {
  flex: 15;
  padding: 10px;
  border: 1px solid #ccc; /* Add a border for the search input */
  border-radius: 5px; /* Add some border radius */
  font-size: 16px;
}

.searchButton {
  flex: 1;
  background-color: #0078D4; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition for hover effect */

  &:hover {
    background-color: #005EAC; 
  }
}

.viewMoreButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}




