.container {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.menutarget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: brown;
  border-radius: 50%;
  overflow: hidden;
}
